<!DOCTYPE html>
{% load static %}

<html>
<head>
    <title>Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
        #mapid { height: 100vh; width: 100vw; }
    </style>
</head>
<body>
    <div id="mapid"></div>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        var map = L.map('mapid').setView({{ user_location }}, 11);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
            maxZoom: 19,
        }).addTo(map);
        var iconos = {
        "general": "{% static 'images/general.png' %}",
        "evento": "{% static 'images/evento.png' %}",
        "venta": "{% static 'images/venta.png' %}",
        "informacion": "{% static 'images/informacion.png' %}",
        "alerta": "{% static 'images/alerta.png' %}"
        };
        {% for dato in datos %}
            try {
        var fechacaducidad = new Date("{{ dato.fecha_hora_cad }}");
        var ahora = new Date();
        var diferencia = fechacaducidad - ahora;
        var minutosrestantes = Math.floor(diferencia / 1000 / 60);
         // Obtiene el icono correspondiente al tipo
        var iconoUrl = iconos["{{ dato.tipo }}"];
        datotipo = "{{ dato.tipo }}";
        var iconoPersonalizado = L.icon({
            iconUrl: iconoUrl,
            iconSize: [32, 32],
            iconAnchor: [16, 32],
            popupAnchor: [-3, -33]
        });
        var marker = L.marker([{{ dato.latitude }}, {{ dato.longitude }}], {icon: iconoPersonalizado}).addTo(map);
        marker.enlace = "{{ dato.enlace }}";  // Guarda el enlace como una propiedad del marcador
        var usuario = "{{ dato.usuario }}" ? "{{ dato.usuario }}" : "{{ dato.id }}";
        var mensaje = "{{ dato.mensaje }}" ? "{{ dato.mensaje }}" : " ";
        var enlace = "{{ dato.enlace }}" ? "{{ dato.enlace }}" : " ";
        var hashtags = "{{ dato.hashtags }}" ? "{{ dato.hashtags }}" : " ";
        //marker.bindPopup("@<b>" + usuario + "</b><br>" + mensaje + "<br><a href='" + enlace + "'>" + enlace + "</a><br>" + hashtags + "<br><span style='color:red;'>Caducidad: " + minutosrestantes % 60 + " minutos</span>");
        marker.bindPopup("@<b>" + usuario + "</b><br>" + mensaje + "<br><a href='" + enlace + "'>" + enlace + "</a><br>" + hashtags + "<br><span style='color:red;'>Caducidad: " + minutosrestantes % 60 + " minutos</span><br>" + datotipo);
        } catch (error) {
            console.error("Error al crear marcador para el dato: ", mensaje, error);
        }
        {% endfor %}
    </script>
</body>
</html>