<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_2bc6395d09658e863a43ed3a37b61c51 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_2bc6395d09658e863a43ed3a37b61c51" ></div>
        
</body>
<script>
    
    
            var map_2bc6395d09658e863a43ed3a37b61c51 = L.map(
                "map_2bc6395d09658e863a43ed3a37b61c51",
                {
                    center: [32.663334, -115.467781],
                    crs: L.CRS.EPSG3857,
                    zoom: 3,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_e8757593c63d0d05888e476a3c3ad20d = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_e8757593c63d0d05888e476a3c3ad20d.addTo(map_2bc6395d09658e863a43ed3a37b61c51);
        
    
            var marker_f0e533a1579694453237b59958745a85 = L.marker(
                [43.729332, -112.160251],
                {}
            ).addTo(map_2bc6395d09658e863a43ed3a37b61c51);
        
    
        var popup_d4e5d9321278f045ac04cd8c18ae903d = L.popup({"maxWidth": 250});

        
            
                var html_65dd7995d5f601bda07e9bf2cffcdfa4 = $(`<div id="html_65dd7995d5f601bda07e9bf2cffcdfa4" style="width: 100.0%; height: 100.0%;">         <div style="position: relative; display: inline-block; min-width: 125px ;padding: 5px; background-color:          rgba(255, 255, 255, 0.8); border: 2px solid black; border-radius:          5px; font-family: Arial; font-size: 12pt;">         @<b>vidigoz:</b>          Testing nuevo con fecha nueva           0           0           <i>2024-04-04 00:12:21:</i>         <i>IDDB:64</i>         </div>         </div>`)[0];
                popup_d4e5d9321278f045ac04cd8c18ae903d.setContent(html_65dd7995d5f601bda07e9bf2cffcdfa4);
            
        

        marker_f0e533a1579694453237b59958745a85.bindPopup(popup_d4e5d9321278f045ac04cd8c18ae903d)
        ;

        
    
</script>
</html>