<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_9992da984cb9e1aa6d358f4af89804b5 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_9992da984cb9e1aa6d358f4af89804b5" ></div>
        
</body>
<script>
    
    
            var map_9992da984cb9e1aa6d358f4af89804b5 = L.map(
                "map_9992da984cb9e1aa6d358f4af89804b5",
                {
                    center: [32.663334, -115.467781],
                    crs: L.CRS.EPSG3857,
                    zoom: 3,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_859579b399c0fb1a671c6aa0934a0df2 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_859579b399c0fb1a671c6aa0934a0df2.addTo(map_9992da984cb9e1aa6d358f4af89804b5);
        
    
            var marker_c969da30d61c0c5ebc2ebaef09244ce8 = L.marker(
                [32.566823, -116.641844],
                {}
            ).addTo(map_9992da984cb9e1aa6d358f4af89804b5);
        
    
        var popup_708a1b27f5e8191c9e788547db467c7b = L.popup({"maxWidth": 250});

        
            
                var html_f0f1c86b892b612381b7ed0c5778568e = $(`<div id="html_f0f1c86b892b612381b7ed0c5778568e" style="width: 100.0%; height: 100.0%;">         <div style="position: relative; display: inline-block; min-width: 125px ;padding: 5px; background-color:          rgba(255, 255, 255, 0.8); border: 2px solid black; border-radius:          5px; font-family: Arial; font-size: 12pt;">         @<b>vidigoz:</b>          Pepe           0           0           <i>2024-04-04 20:06:11:</i>         <i>IDDB:67</i>         </div>         </div>`)[0];
                popup_708a1b27f5e8191c9e788547db467c7b.setContent(html_f0f1c86b892b612381b7ed0c5778568e);
            
        

        marker_c969da30d61c0c5ebc2ebaef09244ce8.bindPopup(popup_708a1b27f5e8191c9e788547db467c7b)
        ;

        
    
    
            tile_layer_859579b399c0fb1a671c6aa0934a0df2.addTo(map_9992da984cb9e1aa6d358f4af89804b5);
        
    
            var marker_98a4394a1e5484dd6bbcc562691028b2 = L.marker(
                [32.561021, -116.636271],
                {}
            ).addTo(map_9992da984cb9e1aa6d358f4af89804b5);
        
    
        var popup_97d626eb05ad086b7bb440d5da29af27 = L.popup({"maxWidth": 250});

        
            
                var html_5d60bbc97fd7d5571a0eccb021ae2c14 = $(`<div id="html_5d60bbc97fd7d5571a0eccb021ae2c14" style="width: 100.0%; height: 100.0%;">         <div style="position: relative; display: inline-block; min-width: 125px ;padding: 5px; background-color:          rgba(255, 255, 255, 0.8); border: 2px solid black; border-radius:          5px; font-family: Arial; font-size: 12pt;">         @<b>vidigoz:</b>          1 41           0           0           <i>2024-04-04 20:14:28:</i>         <i>IDDB:68</i>         </div>         </div>`)[0];
                popup_97d626eb05ad086b7bb440d5da29af27.setContent(html_5d60bbc97fd7d5571a0eccb021ae2c14);
            
        

        marker_98a4394a1e5484dd6bbcc562691028b2.bindPopup(popup_97d626eb05ad086b7bb440d5da29af27)
        ;

        
    
    
            tile_layer_859579b399c0fb1a671c6aa0934a0df2.addTo(map_9992da984cb9e1aa6d358f4af89804b5);
        
    
            var marker_80728ff60064d3c622a59bb441b2cde4 = L.marker(
                [32.553968, -116.632493],
                {}
            ).addTo(map_9992da984cb9e1aa6d358f4af89804b5);
        
    
        var popup_527953de7645706980937adadd33ce7f = L.popup({"maxWidth": 250});

        
            
                var html_37b638b79ffb08c1806c8db9885f3e45 = $(`<div id="html_37b638b79ffb08c1806c8db9885f3e45" style="width: 100.0%; height: 100.0%;">         <div style="position: relative; display: inline-block; min-width: 125px ;padding: 5px; background-color:          rgba(255, 255, 255, 0.8); border: 2px solid black; border-radius:          5px; font-family: Arial; font-size: 12pt;">         @<b>vidigoz:</b>          1.14           0           0           <i>2024-04-04 20:14:46:</i>         <i>IDDB:69</i>         </div>         </div>`)[0];
                popup_527953de7645706980937adadd33ce7f.setContent(html_37b638b79ffb08c1806c8db9885f3e45);
            
        

        marker_80728ff60064d3c622a59bb441b2cde4.bindPopup(popup_527953de7645706980937adadd33ce7f)
        ;

        
    
    
            tile_layer_859579b399c0fb1a671c6aa0934a0df2.addTo(map_9992da984cb9e1aa6d358f4af89804b5);
        
    
            var marker_d69d6f34cd67470faf7a5e8739a4eb81 = L.marker(
                [32.561536, -116.579666],
                {}
            ).addTo(map_9992da984cb9e1aa6d358f4af89804b5);
        
    
        var popup_71f92adce5c7d54a66029bac002c6d17 = L.popup({"maxWidth": 250});

        
            
                var html_3c2819cb17ca9664734fdc2b9d13ac55 = $(`<div id="html_3c2819cb17ca9664734fdc2b9d13ac55" style="width: 100.0%; height: 100.0%;">         <div style="position: relative; display: inline-block; min-width: 125px ;padding: 5px; background-color:          rgba(255, 255, 255, 0.8); border: 2px solid black; border-radius:          5px; font-family: Arial; font-size: 12pt;">         @<b>vidigoz:</b>          1.15           0           0           <i>2024-04-04 20:15:11:</i>         <i>IDDB:70</i>         </div>         </div>`)[0];
                popup_71f92adce5c7d54a66029bac002c6d17.setContent(html_3c2819cb17ca9664734fdc2b9d13ac55);
            
        

        marker_d69d6f34cd67470faf7a5e8739a4eb81.bindPopup(popup_71f92adce5c7d54a66029bac002c6d17)
        ;

        
    
</script>
</html>